#selects{
    margin-left:15rem;
    margin-top:5rem
}
#text{
    margin-top:20rem
}

#done{
    margin-left:500px
}
#circulo{
    height:100px;
    width:100px;
    background:#E76AFA;
    -moz-border-radius:50px;
    -webkit-border-radius:50px;
    border-radius:50px;
 }