.content{

    .datos{
        display: flex;

        .Data{
            display: flex;

            .list{
                font-weight: bold;
            }

            .listName{
                margin-left: 15px;
            }
        }
    }

  

    img{
        height: 9rem;
        width: 10rem;
    }


}