  .navbar {
    margin: 20px;
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 70%;
    height: 5%;
    justify-content: space-between;
    top: 0;
    left: 10%;
    list-style-type: none;
    
    a {
      text-decoration: none;
    }

    a:visited {
      color: pink;
    }

  }